@import url("./globals.css");

/* ============= PROJECT CSS =============== */
:root {
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 3rem 2rem;
  background: var(--carribean-current);
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-link {
  color: var(--white);
}

.copyright {
  color: var(--white);
}
