@import url("./globals.css");

/* ============= PROJECT CSS =============== */

nav {
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}

.links a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
}

.links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}

/* height: 96px */

.links-container {
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-header {
    padding: 0;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  /* height controlled by linkStyles */
  .links-container {
    height: auto !important;
    padding: 5px;
  }

  .links {
    display: flex;
    gap: 1.5rem;
  }

  .links a {
    padding: 0;
  }

  .links a:hover {
    background: transparent;
    padding-left: 0;
  }
}
