@import url("./globals.css");

/* ============= PROJECT CSS =============== */
:root {
  --clr-primary-5: hsl(185, 62%, 45%);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: var(--white);
  box-shadow: var(--dark-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}

.links a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
}

.links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}

/* height: 96px */

.links-container {
  overflow: hidden;
  transition: var(--transition);
  background-color: var(--white-transparent);
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-header {
    padding: 0;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  /* height controlled by linkStyles */
  .links-container {
    height: auto !important;
    padding: 5px;
  }

  .links {
    display: flex;
    gap: 1.5rem;
  }

  .links a {
    padding: 0;
  }

  .links a:hover {
    background: transparent;
    padding-left: 0;
  }
}

/*
=============== 
Hero
===============
*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25rem;
  margin-top: 70px;
  background: var(--primary-500);
  background: linear-gradient(
      rgba(245, 247, 247, 0.4),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("../src/assets/images/fruitsveggies.jpg") center/cover no-repeat;
}
.hero {
  /* height: clamp(10rem, 2.2414rem + 33.1034vw, 25rem); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 1rem;
  background: white;
  border-radius: 25px;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  letter-spacing: var(--spacing);
}

/*
=============== 
Filter
===============
*/

.filter {
  /* background-color: var(--primary-100); */
  padding: 25px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
.filter form {
  display: flex;
  width: 900px;
}
.container {
  padding: 7px;
  flex: 1 1 auto;
  max-width: 300px;
  min-width: 200px;
}

.filter select {
  -webkit-appearance: none;
  padding: 0.7em;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
}

@media screen and (max-width: 610px) {
  header {
    justify-content: end;
    gap: 2rem;
  }
  .filter {
    padding-top: 5px;
  }
  .filter {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter .container {
    width: 275px;
  }

  .container:last-child {
    padding-bottom: 20px;
  }
}
/*
=============== 
Main
===============
*/
.produceQuery h1 {
  text-align: center;
  margin: 15px;
}

.produceQuery ul {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
  grid-gap: 1.3rem;
  justify-content: center;
  background-color: var(--grey200);
}

.produceQuery li {
  text-align: center;
  border: 1px solid #b7b5b5;
  background-color: var(--grey-300);
  border-radius: 5px;
  width: 240px;
  padding: 1rem;
}

.item-container p {
  margin-bottom: 1rem;
}

.item-container button {
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
  background-color: var(--grey-200);
  border: 0.5px solid var(--grey-500);
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*
=============== 
Footer
===============
*/
.footer {
  padding: 3rem 2rem;
  background: var(--carribean-current);
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-link {
  color: var(--white);
}

.copyright {
  color: var(--white);
}
